<div class="main">
  <div class="left">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quaerat alias voluptas, magni reiciendis velit nemo veritatis vero totam blanditiis aperiam autem fugit, aspernatur explicabo accusamus corporis ducimus, harum minus.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia laboriosam nihil officiis facilis provident quibusdam fuga sunt quisquam, mollitia dignissimos voluptatibus itaque laborum iure assumenda, molestiae maiores facere architecto rem?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta explicabo, tempore pariatur fuga nemo modi hic quis, quo harum natus deleniti, aliquid eos cupiditate ex tempora neque rerum quaerat delectus?
  </div>
  <div class="right">
    <img src="../../../../assets/images/c2.png" alt="picture1" />
    <img src="../../../../assets/images/lock2.webp" alt="picture2" />
    <img src="../../../../assets/images/Messaging-512.webp" alt="picture3" />
    <img src="../../../../assets/images/unnamed.png" alt="picture4" />
  </div>
</div>
