h3{
    margin:2rem;
}

.meetings{
    padding:0rem 1rem 1rem 1rem;
    border: 2px solid  #4adc96;
    border-radius: 10px;
}

ul li{
    margin:2rem;
    
    
}
ul li:nth-child(1){
    padding:0 0 0.5rem 0;
    border-bottom: 1px solid #4adc96;
}
